.disabledCustom {
    opacity: 0.5;
}

.labelClass {
    font-weight: bold;
}

.newClasssToManage {
    flex-flow: wrap;
    justify-content: start;
    gap: 56px;
}

.fwss {
    font-weight: 400 !important;
}